.user {
    display: flex;
    margin: 20px 0;
    padding: 5px 0;
}

.status {
    font-size: 20px;
}

.user img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 20px;
}

.users button {
    margin: 0 5px;
    padding: 5px;
    font-size: 20px;
    background: #62dafc;
    border-radius: 3px;
}

.user button {
    display: block;
    width: 100px;
    margin: 5px auto;
}

.current {
    font-weight: 700;
}

.users span {
    margin: 0 3px;
    cursor: pointer;
}

.user p {
    margin-bottom: 5px;
}

.nav {
    display: flex;
    width: 100%;
}

.users input {
    width: 20%;
    margin: 5px;
    border: 1px solid #919191;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 4px;
    font-size: 20px;
}
