.newMessage {
    margin: 20px 0;
    display: flex;
}

.newMessage textarea {
    flex-basis: 90%;
    height: 32px;
    background-color: #f1f1f1;
    border: 1px solid #919191;
    border-radius: 3px;
    padding: 5px;
    font-size: 20px;
    resize: none;
    margin-right: 10px;
}

.newMessage button {
    flex-basis: 10%;
    padding: 5px;
    background: #62dafc;
    font-size: 20px;
    border-radius: 3px;
}